<h1>レストラン検索</h1>

<div>
  <%= form_tag(restaurants_search_path, method: :get) do %>
    <%= search_field_tag :name, nil, placeholder: 'Restaurant Title...' %>
    <%= submit_tag '検索'%>
  <% end %>
</div>

<div>
  <% if @restaurant_result.blank? %>
    <p>[<%= @search_term %>]と一致する情報が見つかりませんでした</p>
  <% else %>
    <p>[<%= @search_term %>]の検索結果</p>
    <table border="1">
      <tr>
        <th>店名</th>
        <th>住所</th>
        <th>最寄駅名</th>
        <th>お店ジャンル</th>
      </tr>
      <% @restaurant_results.each do |restaurant| %>
        <tr>
        <td><%= link_to restaurant['name'], id: "#{restaurant["id"]}" %></td>
        <td><%= restaurant['logo_image']%></td>
        <td><%= restaurant['address']%></td>
        <td><%= restaurant['staition_name']%></td>
        <td><%= restaurant['genre']%></td>
        </tr>

      <% end %>
    </table>
  <%end%>
</div>